<div class="container">

    <div class="row">
    
    <div class="col-12">
      <div id="Scroll-Section" class="section-1 custom-section-header wf-section">
    <div class="wrapper">
      <div class="shop-header">
        <h3 class="no-margin">What We Do For Our Community</h3>
        <div class="view-all">
          <a href="/pages/christmas-free-raffle-2022" class="link arrow-link">
              View More 
              <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
      <div class="shop-header-line">
      <div class="shop-header-color">&nbsp;</div>
      </div>
      </div>
    </div>
</div>
    </div>
    
  </div>
  
  <div class="row">

    
    <div class="col-6 col-sm-6  col-md-12 col-lg-6 col-xl-6 col-xxl-6">

      <div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Architect & Engineer</p> 
  </div>
</div>
      
    </div>

    <div class="col-6 col-sm-6  col-md-12 col-lg-6 col-xl-6 col-xxl-6">

      <div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Architect & Engineer</p> 
  </div>
</div>
      
    </div></div>

    
    
  </div>

  <style>
    .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  </style>