.product__media-grid {
    /* height: 594px; */
    display: grid !important;
    grid-template-columns: 1fr 2.8fr;
    grid-auto-flow: column;
    align-items: stretch;
    /* justify-items: space-between; */
    column-gap: 3rem;
}

.slider-mobile-gutter {
    grid-column: 2 / 4;
    background: #F5F5F5;
}

.thumbnail-slider {
    grid-column: 1;
    grid-row: 1;
}

.thumbnail-list {
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-columns: 1fr !important;
}

.product__media-item, .product__media-item * {
    /* width: 100% !important;
    max-width: 100% !important; */
}

.product__media-item.is-active {
    width: 100%;
    grid-column-start: 2;
    grid-row: 1/4;
}



.product__media-list > *:not(.product__media-item.is-active) {
    grid-column: 1;
}

.color-pills-wrapper {
    display: flex;
    background: #F5F5F5;
    padding: 7px 12px;
    gap: 3rem;
}

.media-color-pills-wrapper {
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0;
}

.color-pills {
    width: 20px;
    height: 20px;
    padding: 0 !important;
    border-radius: 100%;
}

.color-value {
    text-transform: capitalize;
}

.pill-variant:nth-child(2), .select-variant:nth-child(1){
    display: none !important;
}



