.image-with-text__media {
    overflow: visible !important;
}

.orbit-wrapper {
    max-width: 474px;
    aspect-ratio: 1 !important;
    position: relative;
    overflow: visible !important;
    position: relative;
}

.orbit {
    width: 100%;
    aspect-ratio: 1 !important;
    border-radius: 100%;
    opacity: 0.5;
    border: 0.5px solid rgba(0, 45, 55, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    transform: rotate(-100.51deg);
    animation: rotate-left 5s infinite;
}

.orbit:nth-child(2) {
    transform: rotate(-115.1deg);
    border: none;
    animation: rotate-right 5s infinite;
}

.pill {
    display: flex !important;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100vh;
    z-index: 2000;
}

.pill:first-child {
    background: rgba(0, 129, 158, 0.9);
    left: -1.53%;
    top: 51.26%;
}

.pill:last-child {
    background: rgba(255, 222, 89, 0.9);
    left: -0.43%;
    top: 56.46%;
}

@keyframes rotate-left {
    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-100.51deg);
    }
}

@keyframes rotate-right {
    50% {
        transform: rotate(-235deg);
    }

    100% {
        transform: rotate(-115.1deg);
    }
}

.orbit-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 750px) {
    .section-template--16718465433836__30912376-2de7-4cbf-9119-211214962dcc-padding {
        padding-top: 0 !important;
    }

    .orbit-wrapper {
        margin: 0 auto;
    }

    .orbit, .orbit-img {
        width: 70%;
        left: 50%;
        top: 50%;
        margin-left: -35%;
        margin-top: -35%;
    }
}