.banner__text {
    max-width: 52ch;
}

.curve {
    display: none;
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: -6%;
}

@media screen and (min-width: 990px) {
    .curve {
        display: block;
    }
}

.banner__buttons {
    max-width: 23.4375rem;
}

.banner__heading {
    max-width: 18ch;
}

@media screen and (min-width: 750px) {
    .banner__media-half:nth-child(1) {
        width: 40% !important;
    }

    .banner__media-half:nth-child(2) {
        width: 60% !important;
    }
}